/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/backgrounds
/public/images
/storage/*.key
/storage/jwt.secret
/storage/instance.guid
/storage/pail
/storage/templates/*
/vendor
.env
.env.backup
.env.production
.env.development.local
.env.runtime
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
database.sqlite
database.sqlite-journal
database.sqlite-shm
database.sqlite-wal
ISSUES_TODO.md
